.suggestion-main-container{
    height: auto;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.suggestion-container{
    padding-top: 3%;
    width: 80%;
}

.suggestion-list-items{
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 0px 2%;
    display: flex;
}

.suggestion-desc{
    flex: 80%;
    padding-left: 10px;
    text-align: left !important;
}

.suggestion-date{
    text-align: right !important;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: rgb(176, 176, 176);
}

.suggestion-coach-name{
    color: rgb(203,133,41);
    padding-left: 10px;
}

.sort-controls button{
    background-color: rgb(203,133,41);
    border: none;
    font-size: 1.2rem;
    margin: 3px;
}

.suggestion-controls{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.search-controls{
    flex: 85% !important;
    margin-left: 33px;
}

.sort-controls{
    flex: 20% !important;
    text-align: right !important;
    margin-right: 38px;
}

@media screen and (max-width: 500px){
    .suggestion-list-items{
        flex-wrap: wrap;
    }

    .suggestion-controls{
        flex-wrap: wrap;
    }

    .sort-controls{
        margin: 10px 0;
        text-align: center !important;
    }

    .suggestion-header{
        margin-top: 50px;
    }
}