.userdata-main-container{
    min-height: 100vh;
    height: auto;
    background-color: white !important;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
} 

.problem-main-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userdata-container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 2% 2% 0 2%;
    margin: 0 2%;
    margin: auto;
    width: 80%;
}

.userdata-item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userdata-item-row p{
    font-size: 1.2rem;
}

.userdata-item-row h5{
    margin: 0 5px 0 0;
}

.problem-container{
    flex: 50%;
}

.userdata-row{
    padding: 0px 20px;
    flex: 10%;
}

.problem-container{
    padding: 0px 20px;
    flex: 60%;
}

.problem-row{
    background-color: rgb(203,133,41);
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    margin: 10px 10px 0 0;
}

.graph-container{
    margin: auto;
    width: 85%;
}

.Suggestion-container{
    width: 75%;
    margin: 4% auto 0 auto;
    padding-bottom: 4%;
}

.suggestion-form-container{
    display: flex;
    margin-top: 50px;
    height: 100px;
}

.input-col{
    flex: 80%;
    margin-right: 10px;
}

.coach-suggestion-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    padding: 7px 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.coach-sugg-desc{
    font-size: 1.2rem;
}

.coach-sugg-date{
    color: rgb(129,129,129);
}

@media screen and (max-width:500px) {
    .graph-container{
        width: 100%;
    }
}