.MetricDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

@media screen and (max-width: 600px){
    .MetricDiv{
        flex: 100%;
        justify-content: center;
    }
}

.overview-header{
    padding: 5% 0 2% 5%;
}

.date-para{
    color: rgb(106, 105, 105);
    font-size: 1.2em;
}