.error{
    border: 1px solid red;
}

.correct{
    border: 1px solid green;
}

.error-msg{
    color: red;
    /* color: ; */
    text-align: left;
}

.notfound-error-container{ 
    text-align: center;
    width: 70%;
    height: 100vh;
    margin: auto;
}